{% include "layouts/header.html" %}
{% include "layouts/sider.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Invoice</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'invoice' %}">Home</a></li>
                        <li class="breadcrumb-item active">Edit Invoice</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <!-- /.card-header -->
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success" role="alert">
                                {{ success }}
                            </div>
                        {% endif %}
                        <!-- form start -->
                        <form id="quickForm" method="POST" action="{% url 'update_invoice' invoice_data.id %}">
                        	{% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Invoice Name</label>
                                    <input type="text" id="name" name="name" value="{{invoice_data.name}}" class="form-control" placeholder="Enter Invoice Name" required>
                                </div>

                                <div class="form-group">
                                    <label for="purpose">Invoice Purpose</label>
                                    <textarea id="purpose" name="purpose" class="form-control" placeholder="Enter Invoice Purpose" required>{{invoice_data.purpose}}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="date">Invoice Date</label>
                                    <input type="date" name="date" value="{{invoice_data.date|date:'Y-m-d'}}" class="form-control" placeholder="Enter Invoice Date" max="{{date_today}}" required>
                                </div>

                                <div class="form-group">
                                    <input type="hidden" name="customer_id" id="customer_id" readonly value="{{customer.id}}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="hidden" value="{{invoice_data.amount}}" name="amount" id="amount" class="form-control" placeholder="Enter Invoice Amount" required>
                                </div>
                                
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a class="btn btn-warning" href="{% url 'invoice' %}">Back to List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" id="btn" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% include "layouts/footer.html" %}
{% endblock %}