{% include "layouts/header.html" %}
{% include "layouts/sider.html" %}
{% load static %}
{% block content %}
	<div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <section class="content-header">
	        <div class="container-fluid">
	            <div class="row mb-2">
	                <div class="col-sm-6">
	                    <h1>Invoice</h1>
	                </div>
	                <div class="col-sm-6">
	                    <ol class="breadcrumb float-sm-right">
	                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
	                        <li class="breadcrumb-item active">Invoice</li>
	                    </ol>
	                </div>
	            </div>
	        </div>
	        <!-- /.container-fluid -->
	    </section>
	    <!-- Main content -->
	    <section class="content">
	        <div class="card">
	            <div class="card-header">
		            <div class="dropdown">
									<button class="btn btn-success float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export to CSV</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal1">Export by Customer Name</button>
									</div>
								</div>
		            <a style="margin-right: 20px;" href="{% url 'create_invoice' %}" class="btn btn-primary float-right">Create New Invoice</a>
	            </div>
	            <!-- /.card-header -->
	            <div class="card-body">
            		<table class="table table-bordered" id="invoice_datatable_ajax">
				        <thead>
				            <tr>
				                <th>Invoice Name</th>
				                <th>Invoice Purpose</th>
				                <th>Amount</th>
				                <th>Created Date</th>
				                <th style="width: 40px">Action</th>
				            </tr>
				            <tr>
				                <th><input type="text" id="name" name="name" class="form-control"></th>
				                <th><input type="text" id="purpose" name="purpose" class="form-control"></th>
				                <th><input type="text" id="amount" name="amount" class="form-control"></th>
				                <th><input type="text" id="date" name="date" class="form-control"></th>
				            </tr>
				        </thead>
			            <tbody id="filter">
				        	{% for record in invoice_data %}
					            <tr >
					                <td id="name_filter_value">{{record.name}}</td>
					                <td id="purpose_filter_value">{{record.purpose}}</td>
					                <td id="amount_filter_value">{{record.amount}}</td>
					                <td id="date_filter_value">{{record.date|date:"d-m-Y"}}</td>
					                <td>
					                	<a href="{% url 'edit_invoice' record.id %}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
					                </td>
					            </tr>
			            	{% endfor %}
				        </tbody>
				    </table>
				</div>
	            <!-- /.card-body -->
	        </div>
	        <!-- /.card -->
	    </section>
	    <!-- /.content -->
	</div>
<!-- Model Code -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal1Label">Export by Customer Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	<form action="{% url 'import_customer_per_data' %}" method="POST">
	    <div class="modal-body">
	      	{% if customer_data is None %}
	      		<h1>No Customer Found. Please add Customer.</h1>
	      	{% else %}
	    			{% csrf_token %}
	    			<label for="customer_id">Customer Name</label>
	    			<select id="customer_name" name="customer_name" class="form-control" required>
	    				<option value="">Select Customer Name</option>
	    				{% for customer in customer_data %}
	    					<option value="{{customer.id}}">{{customer.customer_name}}</option>
	    				{% endfor %}
	    			</select>
	    		
	      	{% endif %}
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary second">EXPORT</button>
	    </div>
      </form>
    </div>
  </div>
</div>
<!-- End -->
{% include "layouts/footer.html" %}
<script>
	$(document).ready(function(){
		$("#name").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#name_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		$("#purpose").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#purpose_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		$("#amount").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#amount_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		$("#date").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#date_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	});
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	{% for msg in messages %}
		swal({
			title: "Export Excel",
		  	text: '{{ msg }}',
		  	button: "Okay",
		});
	{% endfor %}
		
</script>
{% endblock %}