{% include "layouts/header.html" %}
{% include "layouts/sider.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{customer_data}}</h3>
                            <p>Customer</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="{% url 'customer' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{invoice_data}}</h3>
                            <p>Invoice</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'invoice' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div id="container" style="width: 75%;">
		    	<canvas id="population-chart" data-url="{% url 'dashboard_line_graph' %}"></canvas>
		  	</div>
            </div>
        </div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

$(function () {
	var $populationChart = $("#population-chart");
	$.ajax({
		url: $populationChart.data("url"),
		success: function (data) {

		  var ctx = $populationChart[0].getContext("2d");

		  new Chart(ctx, {
		    type: 'bar',
		    data: {
		      labels: data.labels,
		      datasets: [{
		        label: 'Earning',
		        backgroundColor: 'green',
		        data: data.data
		      }]          
		    },
		    options: {
		      responsive: true,
		      legend: {
		        position: 'top',
		      },
		      title: {
		        display: true,
		        text: 'Total Amount Spending as per Customer'
		      }
		    }
		  });

		}
	});
});

</script>
{% endblock %}