{% include "layouts/header.html" %}
{% include "layouts/sider.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Customer</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'customer' %}">Home</a></li>
                        <li class="breadcrumb-item active">Edit Customer</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <!-- /.card-header -->
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success" role="alert">
                                {{ success }}
                            </div>
                        {% endif %}
                        <!-- form start -->
                        <form id="quickForm" method="POST" action="{% url 'update_customer' customer_data.id %}">
                        	{% csrf_token %}
                            <input type="hidden" name="updated_at" value="{{today}}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="customer_name">Customer Name</label>
                                    <input type="text" value="{{customer_data.customer_name}}" id="customer_name" name="customer_name" class="form-control" placeholder="Enter Customer Name" required>
                                </div>

                                <div class="form-group">
                                    <label for="company_name">Company Name</label>
                                    <input type="text" value="{{customer_data.company_name}}" id="company_name" name="company_name" class="form-control" placeholder="Enter Company Name" required>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea rows="2" placeholder="Enter Company Description" cols="3" class="form-control" name="description" id="description" required>{{customer_data.description}}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="phone">Contact Number</label>
                                    <input type="Number" id="phone" value="{{customer_data.phone}}" name="phone" class="form-control" placeholder="Enter valid Contact Number" required>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email ID</label>
                                    <input type="email" id="email" value="{{customer_data.email}}" name="email" class="form-control" placeholder="Enter valid Contact Number" required>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea rows="2" placeholder="Enter Address" cols="3" class="form-control" name="address" id="address" required>{{customer_data.address}}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="country_id">Country</label>
                                    <select id="country_id" name="country_id" class="form-control" data-state-url="{% url 'ajax_load_states' %}" required>
                                        <option value="">Select Country</option>
                                            <option value="{{country.id}}" selected="" >{{country.name}}</option>
                                            {% for data in country_data %}
                                            <option value="{{data.id}}">{{data.name}}</option>
                                            {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="state_id">State</label>
                                    <select id="state_id" name="state_id" class="form-control " data-cities-url="{% url 'ajax_load_cities' %}" required >
                                        <option>Select State</option>
                                        <option value="{{state.id}}" selected>{{state.name}}</option>
                                        {% for data in state_data %}
                                            <option value="{{data.id}}">{{data.name}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="city_id">City</label>
                                    <select id="city_id" name="city_id" class="form-control " required>
                                        <option>Select City</option>
                                        <option value="{{city.id}}" selected>{{city.name}}</option>
                                        {% for data in city_data %}
                                            <option value="{{data.id}}">{{data.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a class="btn btn-warning" href="{% url 'customer' %}">Back to List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" id="btn" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% include "layouts/footer.html" %}
<script type="text/javascript">
    $('#country_id').on('change', function (e) {
        const url = $("#country_id").attr("data-state-url");  
        const countryId = $(this).val();
        $.ajax({                       
            url: url,                    
            data: {
                'country_id': countryId  
            },
            success: function (data) {   
                $("#state_id").html(data);
            }
        });
    });

    $("#state_id").change(function () {
        const url = $("#state_id").attr("data-cities-url");  
        const stateId = $(this).val();
        $.ajax({                       
            url: url,                    
            data: {
                'state_id': stateId  
            },
            success: function (data) {   
                $("#city_id").html(data);
            }
        });

    });
</script>
{% endblock %}