{% include "layouts/header.html" %}
{% include "layouts/sider.html" %}
{% load static %}
{% block content %}
	<div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <section class="content-header">
	        <div class="container-fluid">
	            <div class="row mb-2">
	                <div class="col-sm-6">
	                    <h1>Customer</h1>
	                </div>
	                <div class="col-sm-6">
	                    <ol class="breadcrumb float-sm-right">
	                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
	                        <li class="breadcrumb-item active">Customer</li>
	                    </ol>
	                </div>
	            </div>
	        </div>
	        <!-- /.container-fluid -->
	    </section>
	    <!-- Main content -->
	    <section class="content">
	        <div class="card">
	            <div class="card-header">
	            	<div class="dropdown">
						<button class="btn btn-success float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Excel</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a data-toggle="modal" data-target="#exampleModal1" type="button" class="dropdown-item" >Import Customer</a>
							<a href="{% url 'export_customer' %}" type="button" class="dropdown-item" >Export Customer</a>
						</div>
					</div>
	                <a style="margin-right: 20px;" href="{% url 'create_customer' %}" class="btn btn-primary float-right">Create New Customer</a>
	            </div>
	            <!-- /.card-header -->
	            <div class="card-body">
            		<table class="table table-bordered">
				        <thead>
				            <tr>
				                <th>Customer Name</th>
				                <th>Company Name</th>
				                <th>Contact Details</th>
				                <th>Address</th>
				                <th style="width: 40px">Action</th>
				            </tr>
				            <tr>
				                <th><input type="text" id="customer_name" name="customer_name" class="form-control"></th>
				                <th><input type="text" id="company_name" name="company_name" class="form-control"></th>
				                <th><input type="text" id="phone" name="phone" class="form-control"></th>
				                <th><input type="text" id="address" name="address" class="form-control"></th>
				            </tr>
				        </thead>
			            <tbody id="filter">
				        	{% for record in customer_data %}
					            <tr >
					                <td id="customer_name_filter_value">{{record.customer_name}}</td>
					                <td id="company_name_filter_value">{{record.company_name}}</td>
					                <td id="phone_filter_value">{{record.phone}},<br>{{record.email}}</td>
					                <td id="address_filter_value">{{record.address}},<br>{{city.name}},<br>{{state.name}},<br>{{country.name}}</td>
					                <td>
					                	<a href="{% url 'edit_customer' record.id %}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
					                </td>
					            </tr>
			            	{% endfor %}
				        </tbody>
				    </table>
				</div>
	            <!-- /.card-body -->
	        </div>
	        <!-- /.card -->
	    </section>
	    <!-- /.content -->
	</div>
<!-- Model Code -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal1Label">Export by Customer Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

	<form action="{% url 'import_customer' %}" method="POST" enctype="multipart/form-data">
	    <div class="modal-body">
			{% csrf_token %}
			<a href="{% static 'assets/excel/sample_excel.xlsx' %}" download class="btn btn-secondary">Download Sample</a>
			<br><br>
			<h5>Make sure your imported excel is same as sample excel.. Only XLSX File Accepted</h5>
			<label for="customer_id">Import File</label>
			<input type="file" title="Upload excel file" class="form-control" name="excel_file" required accept=".xlsx">
			<br>
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary second">IMPORT</button>
	    </div>
      </form>
    </div>
  </div>
</div>
<!-- End -->
{% include "layouts/footer.html" %}
<script>
	$(document).ready(function(){
		$("#customer_name").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#customer_name_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		$("#company_name").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#company_name_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		$("#phone").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#phone_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		$("#address").on("keyup", function() 
		{
			var value = $(this).val().toLowerCase();
			$("#address_filter_value").filter(function() 
			{
				$("#filter").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	});
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	{% for msg in messages %}
		swal({
			title: "Export Excel",
		  	text: '{{ msg }}',
		  	button: "Okay",
		});
	{% endfor %}
		
</script>
{% endblock %}